@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
/* SP width=767px以下 */
/*(画面サイズによりpx数値を変える)*/
/* tb width=768 ～ 1023px */
/* 要素に記載するコード */
img {
  max-width: 100%;
}

/* スマホ時の改行 非表示*/
.sp-br {
  display: none;
}

/* 1rem=1rem */
/* 単位 はremを使用 */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 164px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: calc(10 / 375 * 100vw);
  }
}

html .body {
  font-family: 'Noto Sans JP';
  /*header　*/
  /*ログインモーダル*/
  /*footer 終わり*/
}

html .body .header {
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: rgba(42, 138, 157, 0.9);
  /*　ハンバーガーメニュー　*/
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
  /*　ハンバーガーメニュー ここまで　*/
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  html .body .header {
    background-color: rgba(80, 49, 216, 0.9);
  }
}

@media screen and (max-width: 767px) {
  html .body .header {
    background-color: rgba(255, 154, 66, 0.9);
  }
}

html .body .header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.4rem 1.6rem;
}

@media screen and (max-width: 767px) {
  html .body .header .header-container {
    padding: 1rem 1.6rem;
  }
}

html .body .header .header-container .header-logo {
  text-align: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html .body .header .header-container .header-logo:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html .body .header .header-container .header-logo a {
  text-decoration: none;
}

html .body .header .header-container .header-logo a img {
  width: 10rem;
  height: 5rem;
}

@media screen and (max-width: 767px) {
  html .body .header .header-container .header-logo a img {
    width: 5rem;
    height: 2.5rem;
  }
}

html .body .header .header-container .header-logo a span {
  display: block;
  font-size: 2.4rem;
  color: white;
  text-shadow: 0.2rem  0.2rem 1rem #777 , -0.2rem  0.2rem 1rem #777 , 0.2rem -0.2rem 1rem #777 , -0.2rem -0.2rem 1rem #777;
}

@media screen and (max-width: 767px) {
  html .body .header .header-container .header-logo a span {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  html .body .header .header-container .globalMenu {
    display: none;
  }
}

html .body .header .header-container .globalMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
}

html .body .header .header-container .globalMenu ul li {
  list-style: none;
  text-shadow: 0.2rem  0.2rem 1rem #777 , -0.2rem  0.2rem 1rem #777 , 0.2rem -0.2rem 1rem #777 , -0.2rem -0.2rem 1rem #777;
}

html .body .header .header-container .globalMenu ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
}

html .body .header .header-container .globalMenu ul li a:after {
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  content: '';
  width: 100%;
  height: 0.2rem;
  background: white;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

html .body .header .header-container .globalMenu ul li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

html .body .header .hamburger {
  display: none;
  /*768px以上非表示　*/
}

@media screen and (max-width: 767px) {
  html .body .header .hamburger {
    /*767px以下表示　*/
    display: block;
    position: fixed;
    z-index: 3;
    right: 1.3rem;
    top: 1.2rem;
    width: 4.2rem;
    height: 4.2rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0rem;
    background-color: darkgray;
  }
}

html .body .header .hamburger span {
  display: block;
  position: absolute;
  width: 3rem;
  height: 0.4rem;
  left: 0.6rem;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

html .body .header .hamburger span:nth-child(1) {
  top: 1rem;
}

html .body .header .hamburger span:nth-child(2) {
  top: 2rem;
}

html .body .header .hamburger span:nth-child(3) {
  top: 3rem;
}

html .body .header .hamburger.active span:nth-child(1) {
  top: 1.6rem;
  left: 0.6rem;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

html .body .header .hamburger.active span:nth-child(2),
html .body .header .hamburger.active span:nth-child(3) {
  top: 1.6rem;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

html .body .header nav.globalMenuSp {
  display: none;
  /*600px以上非表示　*/
}

@media screen and (max-width: 767px) {
  html .body .header nav.globalMenuSp {
    display: none;
    position: fixed;
    z-index: 2;
    top: -100;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}

html .body .header nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

html .body .header nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-transition: .4s all;
  transition: .4s all;
}

html .body .header nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

html .body .header nav.globalMenuSp ul li:hover {
  background: #ddd;
}

html .body .header nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  html .body .header nav.globalMenuSp ul li a {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes tooltipShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes tooltipShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

html .body .header nav.globalMenuSp.active {
  display: block;
  -webkit-animation: tooltipShow 0.3s linear 0s;
          animation: tooltipShow 0.3s linear 0s;
}

html .body .login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

html .body .login-modal-wrapper .modal {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #e6ecf0;
  padding: 2rem 0 4rem;
  border-radius: 1rem;
  width: 45rem;
  height: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  html .body .login-modal-wrapper .modal {
    width: 32rem;
    left: 0;
    right: 0;
    margin: auto;
  }
}

html .body .login-modal-wrapper .modal .fa-times {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

html .body .login-modal-wrapper .modal #login-form h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

html .body .login-modal-wrapper .modal #login-form input {
  width: 32rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding: 1.2rem 1.2rem;
  border: 0.1rem solid #d0d5d8;
  border-radius: 0.5rem;
}

@media screen and (max-width: 767px) {
  html .body .login-modal-wrapper .modal #login-form input {
    width: 30rem;
  }
}

html .body .login-modal-wrapper .modal #submit-btn {
  display: inline-block;
  padding: 1.4rem 14rem;
  background-color: #5dca88;
  border: none;
  border-radius: 0.3rem;
  color: white;
  margin: 1rem auto;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  html .body .login-modal-wrapper .modal #submit-btn {
    width: 30rem;
    padding: 1.4rem 0rem;
    font-size: 1.4rem;
  }
}

html .body .question {
  width: 100%;
}

html .body .question .question_container {
  padding: 22rem 1.6rem 4rem;
  max-width: 96rem;
  margin: 0 auto;
  /* Q&Aアコーディオン */
  /* activeクラスが追加されたら縦棒を消す */
}

@media screen and (max-width: 767px) {
  html .body .question .question_container {
    padding: 10rem 1.6rem 4rem;
  }
}

html .body .question .question_container .question-title {
  font-size: 2.6rem;
  text-align: center;
  margin: 0 auto 4rem auto;
  padding: 1.2rem 0;
  max-width: 34rem;
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .question-title {
    margin: 0 0 2rem 0;
  }
}

html .body .question .question_container .question-title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8.6rem 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #498ee0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

html .body .question .question_container .question-title span::before {
  content: '';
  display: inline-block;
  margin-right: 2rem;
  width: 4rem;
  height: 0.1rem;
  background-color: #498ee0;
}

html .body .question .question_container .question-title .fa-quora {
  margin: 0 0.8rem 0 0;
}

html .body .question .question_container .qa-list {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

html .body .question .question_container .qa-list .qa-dl {
  margin: 0 0 2rem 0;
  border-bottom: 1px #000 solid;
}

html .body .question .question_container .qa-list .qa-dl .qa-dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.8rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* アコーディオン開閉ボタン 外枠 */
}

html .body .question .question_container .qa-list .qa-dl .qa-dt:hover {
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .qa-list .qa-dl .qa-dt {
    padding: 0 0 1.8rem 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

html .body .question .question_container .qa-list .qa-dl .qa-dt .qa-num {
  font-size: 4rem;
  font-weight: 600;
  display: block;
  color: #001eff;
  margin: 0 1.6rem 0 0;
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .qa-list .qa-dl .qa-dt .qa-num {
    font-size: 2.4rem;
  }
}

html .body .question .question_container .qa-list .qa-dl .qa-dt .q-txt {
  font-size: 2rem;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .qa-list .qa-dl .qa-dt .q-txt {
    font-size: 1.6rem;
    width: 70%;
  }
}

html .body .question .question_container .qa-list .qa-dl .qa-dt .toggle_btn {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #5f5f5f;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  /* テキスト（開閉ボタン）を隠す */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* プラス・マイナスホタン */
  /* 横棒 */
  /* 縦棒 */
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .qa-list .qa-dl .qa-dt .toggle_btn {
    top: 30%;
  }
}

html .body .question .question_container .qa-list .qa-dl .qa-dt .toggle_btn::after {
  display: block;
  content: '';
  background-color: #fff;
  position: absolute;
  width: 1.8rem;
  height: 0.2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html .body .question .question_container .qa-list .qa-dl .qa-dt .toggle_btn::before {
  display: block;
  content: '';
  background-color: #fff;
  position: absolute;
  width: 0.2rem;
  height: 1.8rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .body .question .question_container .qa-list .qa-dl .qa-dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0;
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .qa-list .qa-dl .qa-dd {
    padding: 0 0 1.8rem 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

html .body .question .question_container .qa-list .qa-dl .qa-dd .qa-num {
  font-size: 4rem;
  font-weight: 600;
  display: block;
  color: #ff006f;
  margin: 0 1.6rem 0 0;
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .qa-list .qa-dl .qa-dd .qa-num {
    font-size: 2.4rem;
  }
}

html .body .question .question_container .qa-list .qa-dl .qa-dd .a-txt {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  html .body .question .question_container .qa-list .qa-dl .qa-dd .a-txt {
    font-size: 1.6rem;
    width: 100%;
  }
}

html .body .question .question_container .toggle_btn.active::before {
  opacity: 0;
}

html .body .footer {
  width: 100%;
  background-color: #42627e;
  color: white;
  padding: 4rem 0;
}

html .body .footer .footer_container {
  margin: 0 auto;
  max-width: 112rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  html .body .footer .footer_container {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  html .body .footer .footer_container .footer_menu {
    display: block;
    width: 18rem;
    margin: 0 auto;
  }
}

html .body .footer .footer_container .footer_menu li {
  list-style: none;
  margin-bottom: 1.8rem;
}

html .body .footer .footer_container .footer_menu li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html .body .footer .footer_container .footer_menu li a:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html .body .footer .footer_container .footer_menu li a .fas, html .body .footer .footer_container .footer_menu li a .fab {
  margin-right: 0.8rem;
}

html .body .footer .footer_container .company {
  font-size: 2.4rem;
}

html .body .footer .footer_container .company li {
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 767px) {
  html .body .footer .footer_container .company li {
    text-align: center;
  }
}

html .body .footer .footer_container .company li .sns {
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 767px) {
  html .body .footer .footer_container .company li .sns {
    font-size: 5.6rem;
    margin: 1.6rem;
  }
}

html .body .footer .footer_container .company li .sns:hover {
  font-size: 2.6rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html .body .footer .footer_container .company .company_name {
  font-weight: bold;
}

html .body .footer p {
  text-align: center;
}
/*# sourceMappingURL=question.css.map */